@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3ddbe;
  --foreground: #171717;
  --font-chakra-petch: 'Chakra Petch', sans-serif;
  --font-caveat: 'Caveat', cursive;
}

.font-chakra-petch {
  font-family: var(--font-chakra-petch);
}

.font-caveat {
  font-family: var(--font-caveat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* -> I :disabled dark mode */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}